<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
  </head>
  <body>
    <nav>
      <h6>Mystery Word Game</h6>
      <h6>Guesses Left: </h6>
    </nav>
    <p>_ _ _ _ _</p>

    <form class="" action="/game" method="post">

    </form>

  </body>
</html>
